* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Pridi", serif;
}

p,
a {
  font-family: "Sarala", sans-serif;
  color: var(--text-col);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}
